.container {
  margin-top: 10px;
}
.nav {
  margin: 10px 0;
}
.nav .link {
  display: inline-block;
}
.tableContet {
  position: relative;
  padding: 15px 0 0 0;
  border-radius: 4px 4px 0 0;
  border: 1px solid #ddd;
}
.btn-group .col-md-2 {
  margin-bottom: 10px;
}
.btn-filter {
  display: inline-block;
  margin-bottom: 10px;
}
