{% extends 'components/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
        <pre><code>免责许可:
    该站所有的数据来源于用户,由用户自行发布.站长不进行审查.
    同时不承担因用户自行使用数据所造成的一切责任,用户不得以任何理由向站长索赔
    只有在您同意以上条款的情况下,你才拥有使用本站数据的权力    </code></pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>filter</h2>
            {% for tag in tags %}
                <a href="/tag/{{ tag.tag }}" class="btn-filter">
                    <button class="btn btn-default">{{ tag.tag }}</button>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
