<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
        <pre><code>免责许可:
    该站所有的数据来源于用户,由用户自行发布.站长不进行审查.
    同时不承担因用户自行使用数据所造成的一切责任,用户不得以任何理由向站长索赔
    只有在您同意以上条款的情况下,你才拥有使用本站数据的权力    </code></pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/">
                <button class="btn btn-default">index</button>
            </a>
            <a href="/post.html">
                <button class="btn btn-default">分享坐标</button>
            </a>
       </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>filter</h2>
            {% for tag in tags %}
                <a href="/tag/{{ tag.tag }}">
                    <button class="btn btn-default">{{ tag.tag }}</button>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/clipboard.js/1.7.1/clipboard.min.js"></script>
<script>
    new Clipboard('td');
</script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
{#<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}

</body>
</html>
