{% extends 'components/base.html' %}
{% block content %}
    <style>
        .my_a {
            color: black;
            text-decoration: none;
        }

        a:link {
            text-decoration: none;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        a:active {
            text-decoration: underline;
        }
    </style>
    <div class="row">
        <div class="col-md-12">
        <pre><code>免责许可:
    该站所有的数据来源于用户,由用户自行发布.站长不进行审查.
    同时不承担因用户自行使用数据所造成的一切责任,用户不得以任何理由向站长索赔
    只有在您同意以上条款的情况下,你才拥有使用本站数据的权力    </code></pre>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <td>纬度</td>
                    <td>经度</td>
                    <td>有啥玩意</td>
                    <td>发现时间</td>
                    {#                    <td>附近</td>#}
                    {% if user %}
                        {#                    <td>评价</td>#}
                        <td>去过了吗</td>
                    {% endif %}
                </tr>
                {% for point in points %}
                    <tr>

                        <td data-clipboard-text="{{ point.longitude }}">
                            <button class="btn btn-default nu">
                                {{ point.longitude }}
                            </button>
                        </td>
                        <td data-clipboard-text="{{ point.latitude }}">
                            <button class="btn btn-default nu">
                                {{ point.latitude }}
                            </button>
                        </td>
                        <td>
                            {% for tag in point.treasure.split(', ') %}
                                <a class="my_a" href="/tag/{{ tag }}">{{ tag }}</a>
                            {% endfor %}
                        </td>
                        <td>{{ point.created_date[:19] }}</td>
                        {#                        <td><a href="/nearest/{{ point.longitude }}/{{ point.latitude }}">附近的其他坐标</a></td>#}
                        {#                        <td>评价</td>#}
                        {% if user %}
                            {#                    <td>评价</td>#}
                            <td>
                                {% if user and checkPointGone(point.id,user) %}
                                    <label for="{{ point.id }}"></label>
                                    <input type="checkbox" class="cb" id="{{ point.id }}" checked>
                                    <span id="{{ '{}s'.format(point.id) }}"></span>
                                {% else %}
                                    <label for="{{ point.id }}"></label>
                                    <input type="checkbox" class="cb" id="{{ point.id }}">
                                    <span id="{{ '{}s'.format(point.id) }}"></span>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>

    <script>
        $('.cb').change(function (e) {
            var point_id = e.target.id;
            var cb = $('#' + point_id);
            var checked = cb.is(':checked');
            console.log(checked);
            let url = '';
            if (checked) {
                url = 'gone';
            } else {
                url = 'ungone';
            }
            $.post(url, data = {'point_id': point_id}, function (data) {
                if (data === 'success') {
                    $('#' + point_id + 's').html('success');
                } else {
                    $('#' + point_id + 's').html('error');
                }
            }).fail(function () {
                alert("error");
            });

        });
    </script>
    <style>.gone {
        background-color: green !important;

    }

    .ungone {
        background-color: yellow !important;
    }
    </style>
    <script src="https://cdn.bootcss.com/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script>
        new Clipboard('td');
    </script>
{% endblock %}