{% extends 'components/base.html' %}
{% block content %}
    <style>
        li {
            list-style-type: none
        }

        input {
            display: none
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <pre>请以雷达内看到的坐标为准,百度地图有火星坐标的问题
实际定位和雷达内定位不同,谷歌地图的经纬度是准确的</pre>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="/">
                    <button class="btn btn-default">index</button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="/post" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">纬度
                            <input type="number" step="0.0001" class="form-control" name="longitude">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">经度
                            <input type="number" step="0.0001" class="form-control" name="latitude">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">有啥东西</label>
                    </div>
                    <div class="row">
                        <div class="btn-group" data-toggle="buttons">
                            {% for tag in tags %}
                                <div class="col-md-2">
                                    <label class="btn btn-default">
                                        <input type="checkbox" autocomplete="off" name="treasure"
                                               value="{{ tag.tag }}">{{ tag.tag }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}