{% extends 'components/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <pre>推荐使用chrome和firefox登录</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="form" action="/register" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">用户名
                        <input type="text" class="form-control" name="username">
                    </label>
                    <div class="form-group">
                        <label for="exampleInputPassword1">密码
                            <input type="password" id="pw" class="form-control" name="password">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">密码again
                            <input type="password" id="pw-again" class="form-control">
                            <span id="help-block"></span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <hr>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <button id="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <script>
                var checked = true;

                function c() {
                    checked = true;
                }

                function check2pwd() {
                    var input1 = $("#pw");
                    var input2 = $("#pw-again");
                    if (input1.val() !== input2.val()) {
                        $('#help-block').html('两次输入的密码不一样');
                        $('input[type="submit"]').attr('disabled', 'disabled');
                        return false
                    } else {
                        $('#help-block').html('');
                        if (checked) {
                            $('input[type="submit"]').prop('disabled', false);
                        }
                        return true
                    }
                }

                $("#pw-again").keyup(check2pwd);
                $("#submit").click(function () {
                    var ch = check2pwd();
                    if (!ch) {
                        alert('两次输入的密码不一样')
                    } else {
                        if (checked) {
                            $('form').submit();
                        } else {
                            alert('还没有通过验证')
                        }
                    }

                })

            </script>
        </div>
    </div>
{% endblock %}